/* TODO */
.tile {
    display: grid;
    place-content: center;
}

.tile .chess-piece {
    height: 10vh;
    width: 10vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    /* position: relative;
    z-index: 1; */
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}

.black-tile {
    background-color: #779556;
}

.white-tile {
    background-color: #ebecd0;
}